{{ define "main" }}
  {{ partial "jumbotron.html" . }}
  {{ $currentPage := . }}
  <div class="row">
  {{ range .Paginator.Pages }}
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ partial "subtitle.html" . }}</h6>
          {{ partial "content.html" . }}
          <a href="{{ .RelPermalink }}" class="card-link">Learn More</a>
        </div>
      </div> <!-- .card -->
    </div> <!-- .col-sm -->
  {{ end }}
  </div> <!-- .row -->
{{ end }}
